body {
  background: blue;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* top band */
#upperRegion {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

/* inside upperRegion */
#playAreaTitleStrip {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  display: inline-block;
  width: 70%;
  height: 100%;
  background: hotpink;
}

#menuAreaTitleStrip {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  display: inline-block;
  width: 30%;
  height: 100%;
  background: greenyellow;
}

/* mid/main band */
#mainRegion {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
}

/* This is the play area and menu area (the section under the title strip) */
#playArea {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  display: inline-block;
  width: 70vw;
  max-height: 80vh;
  margin: 0 auto;
}

#buttonContainer {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 30vw;
  max-height: 80vh;
}

#menuArea {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  display: inline-block;
  width: 30vw;
  max-height: 80vh;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px;
  justify-items: center;
  align-items: center;
  border: 0;
  padding: 0;
  width: 70%;
  height: 80%;
}

button img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  padding: 0;
  margin: 0;
  object-position: center;
}


#playAreaTitleStrip h1,
#menuAreaTitleStrip h1 {
  text-align: center;
  margin: 0;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  vertical-align: middle;
}

#newGameButton {
/*  width: 20vw;*/
  width: 25vw;
}
